catkin_ws/devel/
catkin_ws/logs/
catkin_ws/build/
catkin_ws/bin/
catkin_ws/lib/
catkin_ws/msg_gen/
catkin_ws/srv_gen/
catkin_ws/msg/*Action.msg
catkin_ws/msg/*ActionFeedback.msg
catkin_ws/msg/*ActionGoal.msg
catkin_ws/msg/*ActionResult.msg
catkin_ws/msg/*Feedback.msg
catkin_ws/msg/*Goal.msg
catkin_ws/msg/*Result.msg
catkin_ws/msg/_*.py
catkin_ws/build_isolated/
catkin_ws/devel_isolated/

/cfg/cpp/
/cfg/*.py

*.dox
*.wikidoc

*__pycache__
*.env
*.pcd
*.pyc
qtcreator-*
*.user
